<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".DuckySlicerApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_ducky"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuckySlicer">
        <service
            android:name=".SlicerProcessService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":slicer" />
        <provider
            android:name=".GcodeShareProvider"
            android:authorities="${applicationId}.slice-share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gcode_share_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:intentMatchingFlags="enforceIntentFilter"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.duckyslicer.project+zip" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:pathPattern=".*\.duckyproject" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.duckyslicer.profiles+json" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/json" />
                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:pathPattern=".*\.duckyprofiles" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x.gcode" />
                <data android:mimeType="application/x-gcode" />
                <data android:mimeType="application/gcode" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/plain" />
                <data android:host="*" />
                <data android:pathPattern=".*\.gcode" />
                <data android:pathPattern=".*\.GCODE" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="model/stl" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="application/vnd.ms-3mfdocument" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="application/x-tgif" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
                <data android:host="*" />
                <data android:pathPattern=".*\.stl" />
                <data android:pathPattern=".*\.STL" />
                <data android:pathPattern=".*\.3mf" />
                <data android:pathPattern=".*\.3MF" />
                <data android:pathPattern=".*\.obj" />
                <data android:pathPattern=".*\.OBJ" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:host="*" />
                <data android:pathPattern=".*\.3mf" />
                <data android:pathPattern=".*\.3MF" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.duckyslicer.project+zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.duckyslicer.profiles+json" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x.gcode" />
                <data android:mimeType="application/x-gcode" />
                <data android:mimeType="application/gcode" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="model/stl" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="application/vnd.ms-3mfdocument" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="application/x-tgif" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="model/stl" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
                <data android:mimeType="application/vnd.ms-3mfdocument" />
                <data android:mimeType="model/obj" />
                <data android:mimeType="application/x-tgif" />
            </intent-filter>
        </activity>
    </application>

</manifest>
