<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.ashcastle.duckyslicer.BlockingProviderProcessService"
            android:exported="true" />
        <provider
            android:name="com.ashcastle.duckyslicer.BlockingExportProvider"
            android:authorities="com.ashcastle.duckyslicer.test.blocking-export"
            android:exported="true" />
        <provider
            android:name="com.ashcastle.duckyslicer.BlockingImportProvider"
            android:authorities="com.ashcastle.duckyslicer.test.blocking-import"
            android:exported="true" />
        <provider
            android:name="com.ashcastle.duckyslicer.BatchExportDocumentsProvider"
            android:authorities="com.ashcastle.duckyslicer.test.batch-export"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
